html/_gulp/node_modules
html/_gulp/package-lock.json
cms/wp-content/themes/holistycznie/_gulp/node_modules
cms/wp-content/themes/holistycznie/_gulp/package-lock.json
_gulp/node_modules

.vscode

__temp