html/_gulp/node_modules
html/_gulp/package-lock.json
cms/wp-content/themes/holistycznie/_gulp/node_modules
cms/wp-content/themes/holistycznie/_gulp/package-lock.json
cms/wp-config.php
_gulp/node_modules
_gulp/package-lock.json

.vscode

__temp