.canvas {
  @include mq(767) {
    transition: transform 0.3s;
    transform: translateX(0%);
    &--off {
      transform: translateX(-100%);
    }
  }
}

.offCanvas {
  display: none;
  transition: transform 0.3s;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  @include mq(767) {
    display: block;
    &--on {
      transform: translateX(0%);
    }
  }
}