.post {
  &__info{
    color: $c-gray;
    margin: 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
    @include clearfix;
    &-date {
      float: left;
      overflow: hidden;
    }
    &-share {
      float: right;
      text-transform: uppercase;
      overflow: hidden;
    }
  }
  &>.container {
    &>.wrapper {
      width: calc(100% - 320px);
      //min-width: 320px;
      display: inline-block;
      @include mq(880) {
        width: 100%;
      }
      & h1 {
        position: relative;
        display: block;
        padding-bottom: 30px;
        font-size: 3rem;
        margin-bottom: 30px;
        @include mq(650) {
          font-size: 2.2rem;
        }
        &:before {
          content: '';
          position: absolute;
          display: block;
          top: 100%;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $c-border;
        }
      }
      & p {
        margin: 15px 0;
      }
      & ul {
        list-style-type: disc;
        list-style-position: inside;
        & > * {
          line-height: $lh-basic;
        }
      }
      & img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }
}