.archives {
  padding: 15px;
  margin: 15px;
  border-top: 1px solid $c-gray;
  text-align: center;
  span {
    font-size: 22px;
    font-family: 'Roboto Condensed', Arial, Tahoma, Verdana, sans-serif;
    display: block;
    margin: 15px 0;
  }
  select {
    display: inline-block;
    width: auto;
    height: 35px;
    border: 1px solid #ccc;
  }
  select, option {
    font-family: 'Lora',serif;
    font-size: 16px;
  }
}