.archives {
  text-align: center;
  select {
    display: inline-block;
    width: auto;
    height: 35px;
    border: 1px solid #ccc;
  }
  select, option {
    font-family: 'Lora',serif;
    font-size: 16px;
  }
}