$menuHeight: 133px;
.header {
  position: relative;
  z-index: 666;
  background-color: $c-light;
  top: 0;
  left: 0;

  @include mq(767) {
    position: fixed;
    z-index: 2;
  }

  &__top {
    display: flex;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    @include mq(500) {
      flex-wrap: wrap;
    }
    &_social{
      display: flex;
      align-items: center;
      justify-items: center;
      margin: 0 10px;
      >* {
        width: 18px;
        height: 18px;
        display: block;
        margin: 0 3px;
        text-decoration: none;
        &:before {
          color: $c-gray2 !important;
          font-size: 18px;
          transition: color 0.3s ease;
        }
        &:hover:before {
          color: $c-dark !important;
        }
      }
    }
    .search-form {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1 0 auto;
      label {
        display: none;
      }
      input {
        padding: 3px 5px;
        width: 200px;
        height: 100%;
        display: block;
        border: 1px solid $c-gray;
        margin-right: 5px;
        font-size: 12px;
        @include mq(500) {
          width: 100%;
        }
      }
      button {
        width: 14px;
        height: 14px;
      }
    }
    .header__menuOnTop {
      text-align: left;
      margin: 0;
      @include mq(500) {
        flex: 1 0 auto;
      }
      li {
        display: inline-block;
        transition: all 0.3s;
        position: relative;
        font-family: 'Roboto Condensed', sans-serif;
  
        &:hover {
          color: $c-gray;
        }
  
        &:first-child>* {
          padding-left: 0;
        }
  
        a {
          display: flex;
          height: 100%;
          padding: 0 10px;
          text-transform: uppercase;
          align-items: center;
          justify-content: center;
          font-size: 12px;
        }
      }
    }
  }

  &__logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin: 15px;

    @include mq(767) {
      height: 60px;
      margin-bottom: 0;
    }
    @include mq(500) {
      justify-content: flex-start;
    }

    &-link {
      font-family: 'Great Vibes', cursive;
      font-size: 100px;
      position: relative;
      display: inline-block;
      margin: 0 auto;
      color: transparent !important;
      color: transparent;
      background-clip: text ;
		  -webkit-background-clip: text ;
      background-image: linear-gradient(45deg, #e91e63 0%, #333 100%);
      padding: 20px;

      @include mq(767) {
        font-size: 40px;
        margin: 0;
      }
      @include mq(500) {
        font-size: 32px;
        justify-content: flex-start;
        padding: 5px;
      }
    }
  }
  &__menu {
    display: flex;
    height: 40px;
    justify-content: center;
    margin: 0;
    background-color: $c-white;

    @include mq(767) {
      position: fixed;
      right: -110%;
      display: flex;
      z-index: 1;
      top: $menuHeight +1;
      background-color: $c-white;
      transition: right 0.3s;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-bottom: 112px;
      flex-direction: column;
    }

    li {
      display: inline-block;
      transition: color 0.3s, background-color 0.3s;
      text-transform: uppercase;
      font-weight: 700;
      position: relative;
      color: $c-gray2;
      margin: 0px 10px;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 22px;

      &:before {
        content: '';
        position: absolute;
        display: block;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 0px;
        opacity: 0;
        background-color: $c-dark;
        transition: height 0.5s, opacity 0.5s, width 0.5s;
      }

      @include mq(767) {
        display: block;
        margin: 0;
        height: 15%;
        min-height: 50px;

        &:hover {
          &:before {
            width: 50%;
          }
        }
      }

      &:hover {
        color: $c-gray2;

        //background-color: $c-gray2;
        &:before {
          height: 3px;
          opacity: 1;
          width: 100%;
        }

        a {
          color: $c-dark;

          &:before {
            transform: translateY(200%);
          }
        }
      }

      a {
        display: flex;
        position: relative;
        padding: 0 20px;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: inherit;
        transition: none;
        overflow: hidden;
        font-size: inherit;

        &:before {
          content: attr(data-text);
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $c-dark;
          transition: 0.5s;
        }

        &:hover {
          color: inherit;
        }
      }
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $c-light;
    border: 1px solid $c-dark;
    border-top: 0;

    li {
      &>a {
        @include linkAsBlock;
        padding: 10px 15px;
        display: block;

        &:hover {
          background-color: $c-dark;
        }
      }
    }
  }
}

.underHeader {
  display: none;
  height: $menuHeight;

  @include mq(767) {
    display: block;
  }
}