// dodatkowe ustawienia dla pojedynczego postu
.post__content {
  margin: 50px 0;
  .post {
    &__info {
      color: $c-gray;
      margin: 30px 0;
      font-family: 'Roboto Condensed', sans-serif;
      @include clearfix;

      &-date {
        float: left;
        overflow: hidden;
      }

      &-share {
        float: right;
        text-transform: uppercase;
        overflow: hidden;

        &:before {
          position: relative;
          top: 1px;
          margin-left: 5px;
        }
      }
    }
  }
}