// dodatkowe ustawienia dla pojedynczego postu
.post__content {
  margin: 50px 0;
  font-family: 'Lora', serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #333;
  .post {
    &__tags {
      display: block;
      margin-top: -20px;
      &>a {
        margin: 5px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 12px;
        color: $c-gray;
      }
    }
    &__info {
      color: $c-gray;
      margin: 30px 0;
      font-family: 'Roboto Condensed', sans-serif;
      @include clearfix;

      &-date {
        float: left;
        overflow: hidden;
      }

      &-share {
        float: right;
        text-transform: uppercase;
        overflow: hidden;

        &:before {
          position: relative;
          top: 1px;
          margin-left: 5px;
        }
      }
    }
  }
}