//@import url('https://fonts.googleapis.com/css?family=Anton|Great+Vibes|Herr+Von+Muellerhoff|Oswald:400,700|Roboto+Condensed:400,700|Teko:400,700&subset=latin-ext');

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-300.woff2') format('woff2'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-300.woff') format('woff')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-regular.woff2') format('woff2'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-regular.woff') format('woff')
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-700.woff2') format('woff2'),
       url('../../fonts/roboto-condensed-v16-latin_latin-ext-700.woff') format('woff')
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'),
       url('../../fonts/great-vibes-v5-latin_latin-ext-regular.woff2') format('woff2'),
       url('../../fonts/great-vibes-v5-latin_latin-ext-regular.woff') format('woff'),
       
}