@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icons/icomoon.eot');
  src:  url('../../fonts/icons/icomoon.eot#iefix') format('embedded-opentype'),
    url('../../fonts/icons/icomoon.ttf') format('truetype'),
    url('../../fonts/icons/icomoon.woff') format('woff'),
    url('../../fonts/icons/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin iconize {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
@include iconize;  
}

$icon-search:"\f002";
$icon-heart:"\f004";
$icon-user:"\f007";
$icon-chevron-left:"\f053";
$icon-chevron-right:"\f054";
$icon-eye:"\f06e";
$icon-calendar:"\f073";
$icon-hand-o-right:"\f0a4";
$icon-group:"\f0c0";
$icon-users:"\f0c0";
$icon-comments-o:"\f0e6";
$icon-coffee:"\f0f4";
$icon-calendar-o:"\f133";
$icon-long-arrow-left:"\f177";
$icon-long-arrow-right:"\f178";
$icon-wink:"\e9e7";
$icon-google-plus2:"\ea8c";
$icon-facebook2:"\ea91";


.icon-search:before {
  content: "\f002";
}
.icon-heart:before {
  content: "\f004";
}
.icon-user:before {
  content: "\f007";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-calendar-o:before {
  content: "\f133";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-google-plus2:before {
  content: "\ea8c";
  color: $c-googleplus;
}
.icon-facebook2:before {
  content: "\ea91";
  color: $c-fb;
}
